
table {
    border-collapse: collapse;
    border: 1px black solid;
    
}

table th, table td {
    text-align: right;
    padding: 10px;
    border: 1px black solid;
}

button {
    margin-top: 20px;
}