
#products {
    width: 200px;
    text-align: center;
    align-content: center;
    justify-content: center;

}

li > img {
    width: 100px;
}

.category {
    font-style: oblique;
    font-size: 8px;
    
}